In [1]:
import sqlalchemy as db

In [2]:
engine = db.create_engine('sqlite:///../db/census.sqlite')

In [3]:
connection = engine.connect()
metadata = db.MetaData()

In [4]:
census = db.Table('census', metadata, autoload = True, autoload_with=engine)

In [6]:
print(census.columns.keys())

['state', 'sex', 'age', 'pop2000', 'pop2008']

In [7]:
print(repr(metadata.tables['census']))

Table('census', MetaData(), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

In [8]:
query = db.select([census])

In [9]:
resultProxy = connection.execute(query)
resultSet = resultProxy.fetchall()
resultSet[:5]

[('Illinois', 'M', 0, 89600, 95012),
 ('Illinois', 'M', 1, 88445, 91829),
 ('Illinois', 'M', 2, 88729, 89547),
 ('Illinois', 'M', 3, 88868, 90037),
 ('Illinois', 'M', 4, 91947, 91111)]

In [11]:
db.select(
    [census.columns.state, census.columns.age]
).where(census.columns.state.in_([
    'Texas',
    'Illinois',
    'Maine',
    ])
)